@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height:99.8%;
  width:99.8%;
  font-family: 'Poppins',sans-serif;
  color:#222;
}

.padding-top-index{
  padding-top: 105px;
}
.navbar{
  padding: .8rem;

}
.navbar-nav li{
  padding-right:20px;
}
.nav-link{
  font-size:1.1em !important;

}

/*.nav-link-simply{
  padding: none;
}*/
.coursel-inner img{
  width:100%;
  height:50%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1{
  font-size: 500%; 
  text-transform: uppercase;
  text-shadow: 1px 1px 20px #000;
}
.carousel-caption h3{
 font-size: 200%;
 font-weight: 500%
 text-shadow:1px 1px 10px #000;
 padding-bottom: 1rem;
}
.btn-success{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.btn-success:hover{
  background-color: #32CD32;
  border: 1px solid #32CD32;
}

.jumbotron{
  padding: 1rem;
  /*border-radius: 0;*/
}
.padding{
  padding-bottom: 2rem;
}
.welcome{
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}
/*.welcome2{
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
}*/
.welcome hr{
  border-top:2px solid #b4b4b4;
  width:90%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-html5{
  color: #e54d26;
}
.fa-css3{
  color: #2163af;
}
.fa-bold{
  color: #563d7c;
}
.fa-html5, .fa-css3, .fa-bold{
  font-size: 4em;
  margin: 1rem;  
}
.fun{
  /*width: 100%;*/
  margin-bottom: 2rem;
}
.fun-faq{
  width: 100%;
  margin-bottom: 2rem;
  border:none;
  padding: 10px 0;
  background-color: #add8e6;
}
.gif{
  max-width: 100%;
}
.social a{
  font-size:4rem;
  padding: 2.5rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
/*.fa-google-plus-g{
  color: #dd4b39;
}*/
.fa-instagram{
  color: #FD1D1D;
}
.fa-youtube{
  color: #bb0000;
}
.fa-linkedin{
color: #2867B2;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover,
.fa-instagram:hover, .fa-youtube:hover{
    color: #32CD32;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;

}
hr.light{
 border-top: 1px solid #32CD32;
 width: 75%;
 margin-top: .8rem;
 margin-bottom: 1rem;
}
footer a{
  color:#d5d5d5;
}

hr.light-100{
   border-top: 1px solid #d5d5d5;
   width: 100%;
   margin-top: .8rem;
   margin-bottom: 1rem;
   border: 1px solid #32CD32;
}
/*.texthover:hover{
  color: #32CD32;
}*/

#container {
  margin: 20px auto;
  max-width: 1000px;
}
#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}
.button2 {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}
.highlight{
  background: #9fd8fb;
  border-left: 2px solid steelblue;
  padding: 10px;

}
.highlightExample{
  background: #ffba00;
  border-left: 2px solid orange;
  padding: 10px;

}
#imgContainer{
  max-height: 800px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

.img-background{
/*  background-color: #dadada;*/
  /*padding: 10px 0;*/
}

/*.circular{
  border-radius: 20px;
}*/

/*.container-fluid{
  background-color: #f0f0f0
}*/
.container-fluid-rulebook{
  background-color: #f0f0f0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid-2{
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
}
.container-fluid-footer {
   background-color: #3f3f3f
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.no-padding{
  padding: none;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  /*.navigationlogo img{
    size: 50%;
  }*/

  .social a{
    font-size: 4rem;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption{
  top: 45%; 
}
.carousel-caption h1{
  font-size: 350%
}
.carousel-caption h3{
 font-size: 140%;
 font-weight: 400%
 padding-bottom: .2rem;
}
.carousel-caption .btn{
  font-size: 95%;
  padding: 8px 14px;
}
.display4{
  font-size: 200%;
}
.social a{
    font-size: 3.5rem;
    padding: 2.2rem;
  }
}
@media (max-width: 576px) {
  .social a{
    font-size: 2.5rem;
    padding: 1.2rem;
  }
    .carousel-caption{
  top: 40%; 
}
.carousel-caption h1{
  font-size: 250%
}
.carousel-caption h3{
 font-size: 110%;
 
}
.carousel-caption .btn{
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indiacators{
  display: none;
}
.display4{
  font-size: 160%;
}
.social a{
    font-size: 2rem;
    padding: .7rem;
  }
}

/*Blog Test Area*/

/**/
/**/
.blogclass{
  border: 15px solid #bdc3c7;
  max-width: 800px;
  width: 80%;
  margin: auto;
  /*padding-top: ;*/
  margin-top: 10px;
  margin-bottom: 10px;

}
/*div{
  padding-left: 20px;
  padding-right: 20px;
}*/
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.capitalize{
  text-transform: capitalize;
}
.leftParaBorder{
  border-left: 4px solid #bdc3c7;
  padding-left: 10px;
}
.date{
  font-family: 'Source Sans Pro', sans-serif;
  color: #3498db;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing:0.2rem;
}
h2{
  font-size: 2.0rem;
}
mark {
  background-color: yellow;
  color: black;
}


/**/
/**/

/*Blog Test Area*/


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/bgScroller.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #70b9b0;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #8bc6bf;
  transition: background 0.2s ease-in-out;
}*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*#myBtn:hover {
  background-color: #555;  Add a dark-grey background on hover 
}*/

/*my version of back to top==>*/
#back-to-top{
 position:fixed ;
  display: none;
  width: 30px ;
  height: 40px;
  border-radius: 6px ;
  right: 25px ;
  bottom: 25px;
  color: #fff;
  background: #5cb85c;
  transition: display 0.5s ease-in-out ;
  z-index: 999 ;
  padding-bottom: 20px
}


.fa-angle-up{
  font-size: 25px;
  /*text-align: center;*/
  position: absolute;
  top: 8px;
  left: 8px;
}

#back-to-top:hover {
  background: #32CD32;
  color: #fff;
  transition: background 0.2s ease-in-out;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








